header {
  background-color: navy;
  color: white;
  margin: 0;
  width: 100%;
}

#navigation {
  display: -webkit-flex;
  display: flex;
}

#navigation li{
  background-color: navy;
  border-right: 2px solid white;
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  padding: 10px .5em;
}

#navigation li:hover {
  background-color: royalblue;
}

#nowTime {
  font-size: 1.2em;
  margin: auto 20px auto auto; /* margin-right を auto に設定することで右端に寄せる */
}