header {
  margin: 0;
}

/**
 * ハンバーガーメニュー
 */
.hamburger {
  background-color: darkslategrey;
  height: 100%;
  left: -320px;
  position: fixed;
  top: 0;
  transition: all .6s;
  width: 300px;
  z-index: 200;
}

.hamburger li {
  border-bottom: 2px solid white;
  color: white;
  font-size: 1.5em;
  padding: 15px 10px 0 10px;
}

.hamburger li:hover {
  background-color: orange;
  color: darkslategrey;
}

.hamburger i {
  padding-right: .3em;
}

/* ハンバーガーメニューが開いた時の挙動 */
.opened__hamburger {
  left: 0;
}


/**
 * グローバルナビゲーション
 */
#navigation {
  background-color: royalblue;
  color: white;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}

#navigation div {
  border-right: 2px solid white;
  padding: 10px 20px;
}

/* 文字の縁取り */
.titleName, #nowTime {
  text-shadow:
    2px 2px 1px navy,
    2px -2px 1px navy,
    -2px -2px 1px navy,
    -2px 2px 1px navy,
    2px 0px 1px navy,
    0px 2px 1px navy,
    -2px 0px 1px navy,
    0px -2px 1px navy;
}

.hamburgerIcon, .titleName {
  font-size: 1.5em;
}

.hamburgerIcon {
  cursor: pointer;
}

/* 時刻表示 */
#nowTime {
  font-size: 1.2em;
  margin: auto 0 auto auto; /* margin-left を auto に設定することで右端に寄せる */
}


/* ハンバーガーメニューが開いた時の黒い背景 */
.blackBg {
  background-color: black;
  cursor: pointer;
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: all .6s;
  visibility: hidden;
  width: 100vw;
  z-index: 100;
}

.opened__hlackBg {
  opacity: .8;
  visibility: visible;
}