#materialName, #changeDesciription li, #description {
    background-color: hsl(0, 0%, 20%);
    border: 1px solid white;
    font-size: 1.5em;
    margin: 0 20px;
}

#title {
    flex-basis: 450px;
}

#materialName {
    margin-bottom: 20px;
    padding: 10px;
}

#materialName img, #description img {
    padding: 5px .25em;
    vertical-align: middle;
}

#changeDesciription ul {
    padding: 0; /* マーカーを消したことで発生する左側の空白を除去 */
}

#changeDesciription li {
    list-style: none;
    text-align: center;
    padding: 10px 0;
}

#changeDesciription li:hover {
    background-color: royalblue;
}


#description{
    flex-basis: 800px;
    padding-left: 1em;
}