body {
  color: white;
}

/* -----
  上部Section
----- */

#materialName, #changeDesciription li, #description {
  background-color: hsl(0, 0%, 20%);
  border: 1px solid white;
  margin: 0 20px;
}

#title {
  flex-basis: 450px;
}

#materialName {
  font-size: 1.3em;
  margin-bottom: 20px;
  padding: 10px;
}

#materialName img, #description img {
  padding: 5px .25em;
  vertical-align: middle; /* 画像と文字を上下中央で揃える */
}

#changeDesciription ul {
  padding: 0; /* マーカーを消したことで発生する左側の空白を除去 */
}

#changeDesciription li {
  cursor: pointer;
  font-size: 1.5em;
  list-style: none;
  text-align: center;
  padding: 10px 0;
}

#changeDesciription li:hover {
  background-color: royalblue;
}

#description {
  flex-basis: 800px;
  font-size: 1.5em;
  padding-left: 1em;
}

.descriptionTable {
  font-size: 0.7em;
  margin: 0 10px;
  padding: 2px;
}

.descriptionTable td {
  padding: 2px 5px;
  min-width: 120px;
}

.note {
  font-size: 0.7em;
}

/* -----
  下部Section
----- */

.materialTable {
  margin: 0 auto;
}

.materialTable td {
  cursor: pointer;
  font-size: .9em;
  padding: 10px 0;
  width: 240px;
}

.materialTable img {
  padding-right: .25em;
  vertical-align: middle; /* 画像と文字を上下中央で揃える */
}


.tabs{
  margin: 10px auto;
}
.tab-buttons span{
  background: royalblue;
  border: 1px solid white;
  cursor: pointer;
  display: block;
  flex: 1;
  height: 40px;
  line-height: 40px;
  padding: 10px 0;
  text-align: center;
}

.materialTable {
  display: none;
}

.active {
  display: block;
}