.tabs{
  margin: 10px auto;
}

.tab-buttons span{
  background-color: royalblue;
  border: 1px solid white;
  cursor: pointer;
  display: block;
  flex: 1;
  font-size: 1.2em;
  height: 40px;
  line-height: 40px;
  padding: 10px 0;
  text-align: center;
  /* 文字の縁取り */
  text-shadow:
    2px 2px 1px navy,
    2px -2px 1px navy,
    -2px -2px 1px navy,
    -2px 2px 1px navy,
    2px 0px 1px navy,
    0px 2px 1px navy,
    -2px 0px 1px navy,
    0px -2px 1px navy;
}

.tab-buttons span:hover {
  background-color: orange;
  columns: darkslategrey;
}


.materialTable {
  display: none; /* 選択されていないテーブルは表示しない */
  margin: 0 auto;
}

.materialTable td {
  cursor: pointer;
  font-size: .9em;
  padding: 10px 0;
  /* 文字の縁取り */
  text-shadow:
    2px 2px .5px black,
    2px -2px .5px black,
    -2px -2px .5px black,
    -2px 2px .5px black,
    2px 0px .5px black,
    0px 2px .5px black,
    -2px 0px .5px black,
    0px -2px .5px black;
  width: 240px;
}

.materialTable td:hover {
  background-color: orange;
}

.materialTable img {
  padding-right: .25em;
  vertical-align: middle; /* 画像と文字を上下中央で揃える */
}

.active {
  display: block; /* 畝円託されたテーブルのみ表示 */
}