/* -----
  上部Section
----- */

#materialName, #changeDesciription li, #description {
  background-color: hsl(0, 0%, 20%);
  border: 1px solid white;
  font-size: 1.5em;
  margin: 0 20px;
}

#title {
  flex-basis: 450px;
}

#materialName {
  margin-bottom: 20px;
  padding: 10px;
}

#materialName img, #description img {
  padding: 5px .25em;
  vertical-align: middle; /* 画像と文字を上下中央で揃える */
}

#changeDesciription ul {
  padding: 0; /* マーカーを消したことで発生する左側の空白を除去 */
}

#changeDesciription li {
  cursor: pointer;
  list-style: none;
  text-align: center;
  padding: 10px 0;
}

#changeDesciription li:hover {
  background-color: royalblue;
}

#description {
  flex-basis: 800px;
  padding-left: 1em;
}

/* -----
  下部Section
----- */

.materialTable {
  margin: 0 auto;
}

.materialTable td {
  cursor: pointer;
  font-size: .9em;
  padding: 10px 0;
  width: 240px;
}

.materialTable img {
  padding-right: .25em;
  vertical-align: middle; /* 画像と文字を上下中央で揃える */
}


.tabs{
  margin: 10px auto;
  position: relative;
}
.tab-buttons span{
  background: orange;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  display: block;
  flex: 1;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
#lamp{
  width: 20%;
  height: 3px;
  background: #333;
  display: block;
  position: absolute;
  top: 40px;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
}

#lamp.content1, #lamp.content2, #lamp.content3, #lamp.content4, #lamp.content5 {
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
}
#lamp.content1{ left: 0%; }
#lamp.content2{ left: 20%; }
#lamp.content3{ left: 40%; }
#lamp.content4{ left: 60%; }
#lamp.content4{ left: 80%; }

.materialTable {
  display: none;
}

.active {
  display: block;
}