body {
  color: white;
}

#materialName, #changeDesciription li, #wrapDescription {
  background-color: hsl(0, 0%, 20%);
  border: 1px solid white;
  margin: 0 20px;
}

#title {
  flex-basis: 450px;
}

#materialName {
  font-size: 1.3em;
  margin-bottom: 20px;
  padding: 10px;
}

#materialName img, .description img {
  padding: 5px .25em;
  vertical-align: middle; /* 画像と文字を上下中央で揃える */
}

#changeDesciription ul {
  padding: 0; /* マーカーを消したことで発生する左側の空白を除去 */
}

#changeDesciription li {
  cursor: pointer;
  font-size: 1.5em;
  list-style: none;
  text-align: center;
  padding: 10px 0;
}

#changeDesciription li:hover {
  background-color: orange;
  /* 文字の縁取り */
  text-shadow:
    2px 2px .5px black,
    2px -2px .5px black,
    -2px -2px .5px black,
    -2px 2px .5px black,
    2px 0px .5px black,
    0px 2px .5px black,
    -2px 0px .5px black,
    0px -2px .5px black;
}

/* 背景部分 */
#wrapDescription {
  flex-basis: 800px;
  padding-left: 1em;
}

/* 内容（文字）部分 */
.description {
  font-size: 1.5em;
  opacity: 0;
  transition: all 1s;
}

/* 内容（文字）部分のフェードイン */
.fade {
  opacity: 1;
}

.descriptionTable {
  font-size: 0.7em;
  margin: 0 10px;
  padding: 2px;
}

.descriptionTable td {
  padding: 2px 5px;
  min-width: 120px;
}

.note {
  font-size: 0.7em;
}


/**
 * 中段Section
 */
#qParent {
  text-align: right; /* 右揃えするinline要素の親要素に指定する */
}

.qContent {
  background-color: yellow;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  margin: 0;
  padding: 1px 3px;
}

/* モーダル */
.popup {
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: .6s;
  visibility: hidden;
  width: 100%;
  z-index: 9999;
}

.popup.is-show {
  opacity: 1;
  visibility: visible;
}

.popup-inner {
  background-color: darkslategrey;
  border: 1px solid white;
  border-radius: 30px;
  color: white;
  left: 50%;
  padding: 20px 50px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
  z-index: 2;
}

.close-btn {
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 50px;
}

.close-btn i {
  color: #cccccc;
  font-size: 30px;
}

.black-background {
  background-color: rgba(0,0,0,.8);
  cursor: pointer;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
