html {
    background-color: lightsteelblue;
}

.container {
    color: white;
    font-family: 'Montserrat', 'Kosugi', sans-serif;
    font-size: 24px;
}

.flexBox {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}