table {
    border-collapse: collapse;
    margin: 20px;
}

table th, table td {
    border: solid 1.5px lightsteelblue;
    background-color: #333333;
    color: white;
    font-size: 1.3em;
    padding: 5px;
    text-align: center;
}

table .time {
    font-size: 2em;
}